.App{
    margin:auto;
    width:28vw;
    height:40vh;
    background-color: whitesmoke;
    border-radius: 10px;
}
.stop,.reset{
    position: relative;
    top:2vh;
    width: 8vw;
    height:5vh;
    margin-left:4vw;
    font-weight: 600;
    color: aliceblue;
    background-color: #48aaad;
    border-radius: 1px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.32), 0 8px 6px rgba(0, 0, 0, 0.28);
    border:none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    outline: none;
}
.stop:hover,.reset:hover{
    background-color: #016064;
    cursor: pointer;

}
h1{
    color:rgb(50, 48, 48);
    text-align: center;
    padding-top:5vh;
    font-size: 9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}body{
    margin: 0;
    background-color:#23272f;
}