body{
  margin:0;
  background-color: black;
}

.light{
  height:30px;
  width:30px;
  border-radius: 50%;
  background-color: white;
  float:left;
  margin:40px;
 
}
#bn{
  float:left;
  margin-top:40px;
}